.blog_title{
  color: #008cba;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.blog_content_preview {
  padding-top: 5px;
  display: none;
}
span.view_count, span.comment_count{
  padding-left: 10px;
}