html{
  background: #eee image-url('background.png') 0 0 repeat;
}
body {
  background: none !important;
}
.body_main{
  background: white;
  margin: 0 auto;
  width: 1000px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.margin_right_10{
  margin-right: 10px;
}
.margin_right_20{
  margin-right: 20px;
}
.margin_right_50{
  margin-right: 50px;
}
.margin_left_10{
  margin-left: 10px;
}
.center{
  margin: 0 auto;
}
.login-in{
  margin-top: 170px;
  height: 315px;
}
.logout{
  position: absolute !important;
  left: 1100px;
  top: 15px;
}
.blog_list {
  width: 100%;
}
.blog_bottom {
  font-size: 12px;
  margin-top: 5px;
  color: #BABABA;
}
code {
  font-size: 13px;
  font-weight: normal !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border: 1px solid #ddd;
}
span.normal{
  color: #5E5E5E;
}
.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }