<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "博客后台管理" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'admin/shared/nav'%>
    <div class="body_main">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>